<component name="ArtifactManager">
  <artifact type="war" name="Spring-hello">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_hello</output-path>
    <root id="archive" name="Spring-hello.war">
      <element id="artifact" artifact-name="Spring-hello:war exploded" />
    </root>
  </artifact>
</component>